extends layout

block body
  div(id="top-bar",class="navbar navbar-default navbar-fixed-top",role="navigation")
    .container
      .navbar-header
        a(class="nav-brand",href="#") nodejslim
        button(type="button",class="navbar-toggle",data-toggle="collapse",data-target=".navbar-collapse")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      div(id="top-nav",class="navbar-collapse collapse")
  div(ng-controller="AppCtrl",class="container")
    h2(ng-cloak) Hello {{user.name}}
    p(ng-if="1=1") Please wait while Javascript files are loading...
    p(ng-cloak) There are {{connector}} person(s) connecting to the server
    ul.menu
      li
        a(href='config') config
      li
        a(href='chatroom') chatroom
      li
        a(href='mongochat') mongochat

    div(ng-view)

    div
      | Angular seed app: v
      span(app-version)
  script(src="/socket.io/socket.io.js")
  script(data-main="js/main.js",src='js/require.js')
