!!!
html(ng-app)
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/3.0.3/simplex/bootstrap.min.css')
  body
    block body
  footer
    include footer.html